$y-color-primary: #244f74;
$y-color-primary-dark-1: #1f4668;
$y-color-primary-dark-3: #1a3d5c;
$y-color-primary-dark-5: #153450;
$y-color-primary-dark-7: #102b44;
$y-color-primary-dark-9: #0b2238;
$y-color-primary-light-9: #295b8b;
$y-color-primary-light-7: #2a5a7f;
$y-color-primary-light-5: #2f638b;
$y-color-primary-light-3: #346c97;
$y-color-primary-light-1: #3975a3;




$y-color-white-light-5: #ffffff;
$y-color-white-light-3: #f0f0f1;
$y-color-white-light-1: #f2f2f2;
$y-color-white: #e6e6e6;
$y-color-white-dark-1: #d9d9d9;
$y-color-white-dark-3: #cccccc;
$y-color-white-dark-5: #bfbfbf;
$y-color-white-dark-7: #b3b3b3;
$y-color-white-dark-9: #a6a6a6;

$y-color-black-dark-9: #0d0d0d;
$y-color-black-dark-7: #0f0f0f;
$y-color-black-dark-5: #111111;
$y-color-black-dark-3: #131313;
$y-color-black-dark-1: #161718;
$y-color-black: #202123;
$y-color-black-light-1: #2a2c2e;
$y-color-black-light-3: #333537;
$y-color-black-light-5: #3d3f41;
$y-color-black-light-7: #46484a;
$y-color-black-light-9: #505253;

$y-color-bg-white: $y-color-white;
$y-color-bg-white-sub: $y-color-white-dark-1;

$y-color-text-white: #f0f0f1;
$y-color-text-white-sub: $y-color-white-dark-9;
$y-color-text-black: $y-color-black-dark-1;
$y-color-text-black-sub: $y-color-black;




$y-color-success: #1DC779;
$y-color-success-bk: #d1fae5;
$y-color-success-text: #52c41a;

$y-color-warning: #FFB302;
$y-color-warning-bk: #fef2c0;
$y-color-warning-text: #faad14;

$y-color-danger: #F56C6C;
$y-color-danger-bk: #fde2e2;
$y-color-danger-text: #f5222d;

$y-color-info: #909399;
$y-color-info-bk: #f4f4f5;
$y-color-info-text: #1890ff;

$y-color-error: #F56C6C;
$y-color-error-bk: #fde2e2;
$y-color-error-text: #f5222d;























